$indigo: #845aff;
$white: #ffffff;
$dark: #080e10;
$blue: #099fed;
$green: #00dc93;
$gradient: linear-gradient(203deg,  rgb(22, 94, 202) 0%, rgb(0, 70, 107) 100%);
$gradient2: linear-gradient(250deg, rgb(0, 204, 255) 24%, rgba(52, 108, 255, 1) 100%);

.blue {
  color: $blue;
}
.indigo {
  color: $indigo;
}
